<p><%= flash[:notice] %></p>
<nav>
  <ul>
    <% if logged_in? %>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/gossyps/new">New Gossyp!</a></li>
    <% else %>
      <li><a href="/auth/twitter">Login with Twitter!</a></li>
    <% end %>
  </ul>
</nav>

<% @gossyps.each do |gossyp| %>
  <h3>
    <form method="post" action="/gossyps/<%=gossyp.id%>/stars"><input type="submit" id="star_gossyp_<%=gossyp.id%>" /></form>
    <a href="/gossyps/<%=gossyp.id%>"><%=gossyp.title%></a></h3>
<% end %>
